<template>
    <div class="home">
        <JPageTitle icon="fa fa-home" main="Dashboard" sub="Base de Conhecimento"/>
        <div class="stats">
            <JStat title="Categorias" :value="stat.categories" icon="fa fa-folder" color="#d54d50"/>
            <JStat title="Articles" :value="stat.articles" icon="fa fa-file" color="#3bc480"/>
            <JStat title="Usuários" :value="stat.users" icon="fa fa-user" color="#3282cd"/>
        </div>
    </div>
</template>

<script>
    import JPageTitle from "../template/JPageTitle"
    import JStat from "./JStat"
    import axios from 'axios'
    import {baseApiUrl} from '@/global'

    export default {
        name: 'JHome',
        components: {JPageTitle, JStat},
        data: function() {
            return{
                stat: {}
            }
        },
        methods:{
            getStats(){
                axios.get(`${baseApiUrl}/stats`).then(res => this.stat = res.data)
            }
        },
        mounted() {
            this.getStats()
        }

    }
</script>

<style>
    .stats{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
</style>