<template>
    <footer class="footer">
        <span>Copyright <strong>TI Jack</strong> &copy; 2015 - {{ new Date().getFullYear() }}</span>
    </footer>

</template>

<script>
    export default {
        name: 'JFooter'
    }
</script>

<style>
    .footer {
        grid-area: footer;
        background-color: #ddd;
        color: #333333;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
    }
</style>