<template>
    <div class="admin-pages">
        <JPageTitle icon="fa fa-cogs" main="Administração do Sistema" sub="Cadastrados & Cia"/>
        <div class="admin-pages-tabs">
            <b-card no-body>
                <b-tabs card>
                    <b-tab title="Artigos" active>
                        <JArticleAdmin />
                    </b-tab>
                    <b-tab title="Categorias">
                        <JCategoryAdmin />
                    </b-tab>
                    <b-tab title="Usuários">
                        <JUserAdmin />
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    </div>
</template>

<script>
    import JPageTitle from "../template/JPageTitle";
    import JArticleAdmin from "./JArticleAdmin";
    import JCategoryAdmin from "./JCategoryAdmin";
    import JUserAdmin from "./JUserAdmin";

    export default {
        name: 'JAdminPages',
        components: {JPageTitle, JArticleAdmin, JCategoryAdmin, JUserAdmin}
    }
</script>

<style scoped>

</style>